<?xml version="1.0" encoding="utf-8" ?>
<chocolatey>
  <useNuGetForSources>false</useNuGetForSources>
  <checksumFiles>true</checksumFiles>
  <virusCheckFiles>false</virusCheckFiles>
  <cacheLocation></cacheLocation>
  <containsLegacyPackageInstalls>true</containsLegacyPackageInstalls>
  <sources>
    <source id="chocolatey" value="https://chocolatey.org/api/v2/" />
  </sources>
  <features>
    <feature name="autouninstaller" enbabled="false" />
  </features>
</chocolatey>