<?xml version="1.0" encoding="utf-8" ?>
<chocolatey>
  <cacheLocation></cacheLocation>
  <containsLegacyPackageInstalls>true</containsLegacyPackageInstalls>
  <sources>
    <source id="chocolatey" value="https://chocolatey.org/api/v2/" />
  </sources>
  <features>
    <feature name="checksumFiles" enabled="true" />
    <feature name="autoUninstaller" enabled="false" />
    <feature name="allowGlobalConfirmation" enabled="false" />
    <feature name="failOnAutoUninstaller" enabled="false" />
  </features>
</chocolatey>