<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AnyOf" version="0.3.0" targetFramework="net48" />
  <package id="Chocolatey.NuGet.Common" version="3.4.2" targetFramework="net48" />
  <package id="Chocolatey.NuGet.Configuration" version="3.4.2" targetFramework="net48" />
  <package id="Chocolatey.NuGet.Frameworks" version="3.4.2" targetFramework="net48" />
  <package id="Chocolatey.NuGet.Packaging" version="3.4.2" targetFramework="net48" />
  <package id="Chocolatey.NuGet.Protocol" version="3.4.2" targetFramework="net48" />
  <package id="Chocolatey.NuGet.Versioning" version="3.4.2" targetFramework="net48" />
  <package id="Fare" version="2.2.1" targetFramework="net48" />
  <package id="FluentAssertions" version="6.11.0" targetFramework="net48" />
  <package id="FluentAssertions.Analyzers" version="0.19.1" targetFramework="net48" developmentDependency="true" />
  <package id="Handlebars.Net" version="2.1.6" targetFramework="net48" />
  <package id="Handlebars.Net.Helpers" version="2.4.4" targetFramework="net48" />
  <package id="Handlebars.Net.Helpers.Core" version="2.4.4" targetFramework="net48" />
  <package id="Handlebars.Net.Helpers.DynamicLinq" version="2.4.4" targetFramework="net48" />
  <package id="Handlebars.Net.Helpers.Humanizer" version="2.4.4" targetFramework="net48" />
  <package id="Handlebars.Net.Helpers.Json" version="2.4.4" targetFramework="net48" />
  <package id="Handlebars.Net.Helpers.Random" version="2.4.4" targetFramework="net48" />
  <package id="Handlebars.Net.Helpers.Xeger" version="2.4.4" targetFramework="net48" />
  <package id="Handlebars.Net.Helpers.XPath" version="2.4.4" targetFramework="net48" />
  <package id="Handlebars.Net.Helpers.Xslt" version="2.4.4" targetFramework="net48" />
  <package id="Humanizer" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.af" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.ar" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.az" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.bg" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.bn-BD" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.cs" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.da" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.de" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.el" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.es" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.fa" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.fi-FI" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.fr" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.fr-BE" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.he" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.hr" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.hu" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.hy" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.id" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.is" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.it" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.ja" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.ko-KR" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.ku" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.lv" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.ms-MY" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.mt" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.nb" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.nb-NO" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.nl" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.pl" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.pt" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.ro" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.ru" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.sk" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.sl" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.sr" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.sr-Latn" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.sv" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.th-TH" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.tr" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.uk" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.uz-Cyrl-UZ" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.uz-Latn-UZ" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.vi" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.zh-CN" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.zh-Hans" version="2.14.1" targetFramework="net48" />
  <package id="Humanizer.Core.zh-Hant" version="2.14.1" targetFramework="net48" />
  <package id="JmesPath.Net" version="1.0.125" targetFramework="net48" />
  <package id="JsonConverter.Abstractions" version="0.5.0" targetFramework="net48" />
  <package id="log4net" version="2.0.12" targetFramework="net48" />
  <package id="Microsoft.AspNetCore" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authentication.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authentication.Core" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Connections.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Diagnostics" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Diagnostics.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.HostFiltering" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Hosting" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.HttpOverrides" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Routing" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Routing.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Server.IIS" version="2.2.6" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Server.IISIntegration" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Server.Kestrel" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Server.Kestrel.Core" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Server.Kestrel.Https" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Json" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Console" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Debug" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.ObjectPool" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.34.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.34.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="6.34.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.34.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.34.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.34.0" targetFramework="net48" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.OpenApi" version="1.2.3" targetFramework="net48" />
  <package id="Microsoft.OpenApi.Readers" version="1.2.3" targetFramework="net48" />
  <package id="Microsoft.Web.Xdt" version="3.1.0" targetFramework="net48" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net40" />
  <package id="Namotion.Reflection" version="2.0.10" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NJsonSchema" version="10.7.2" targetFramework="net48" />
  <package id="NJsonSchema.Extensions" version="0.1.0" targetFramework="net48" />
  <package id="NSwag.Core" version="13.16.1" targetFramework="net48" />
  <package id="NUnit" version="3.13.3" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="4.5.0" targetFramework="net48" />
  <package id="RamlToOpenApiConverter" version="0.6.1" targetFramework="net48" />
  <package id="RandomDataGenerator.Net" version="1.0.17" targetFramework="net48" />
  <package id="Scriban.Signed" version="2.1.4" targetFramework="net48" />
  <package id="SharpYaml" version="1.6.5" targetFramework="net48" />
  <package id="SimMetrics.Net" version="1.0.5" targetFramework="net48" />
  <package id="SimpleInjector" version="2.8.3" targetFramework="net48" />
  <package id="Stef.Validation" version="0.1.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.0" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.34.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="4.5.3" targetFramework="net48" />
  <package id="System.Linq.Dynamic.Core" version="1.3.12" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Cng" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net48" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.7.2" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net48" />
  <package id="TinyMapper" version="3.0.3" targetFramework="net48" />
  <package id="WireMock.Net" version="1.5.62" targetFramework="net48" />
  <package id="WireMock.Net.Abstractions" version="1.5.62" targetFramework="net48" />
  <package id="WireMock.Net.FluentAssertions" version="1.5.62" targetFramework="net48" />
  <package id="WireMock.Net.OpenApiParser" version="1.5.62" targetFramework="net48" />
  <package id="WireMock.Org.Abstractions" version="1.5.62" targetFramework="net48" />
  <package id="XPath2" version="1.1.5" targetFramework="net48" />
  <package id="XPath2.Extensions" version="1.1.5" targetFramework="net48" />
  <package id="YamlDotNet" version="8.1.0" targetFramework="net48" />
</packages>