<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="installpackage" />
  <package id="hasdependency" version="1.0.0" />
  <package id="missingpackage" />
  <package id="upgradepackage" version="1.0.0"
           installArguments="hi"
           packageParameters="yo" forceX86="true" allowMultipleVersions="false"
           ignoreDependencies="true"
           />
</packages>