.svn
.hg
build_output
code_drop
bin
obj
/packages


*.suo
*.sln.docstates
*.user 
*.csproj.user
*.[rR]esharper.user
*.DotSettings.user
*.resharper
_ReSharper*
*.cache
*~
*.swp
*.bak
*.orig
*.log
*.pidb
*userprefs
 
TestResult.xml
submit.xml
SolutionVersion.cs
SolutionVersion.vb