.svn
build_output
code_drop
bin
obj
_ReSharper*
/packages

*.suo
*.user 
*.csproj.user
*.DotSettings.user
*.resharper.user
*.ReSharper.user
*.cache
*~
*.swp
*.orig
*.log
*.sln.docstates
 
TestResult.xml
submit.xml
SolutionVersion.cs
SolutionVersion.vb