language: csharp
mono:
  - 6.12.0
install:
  - nuget restore src/chocolatey.sln
before_script:
  - chmod +x build.sh
script:
  - ./build.sh -v
notifications:
  email:
    - chocolatey-build-status@googlegroups.com
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/bd7909ec077be3f8873e
    on_success: change
    on_failure: always
    on_start: false
