<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dependencyfailure" />
  <package id="downgradesdependency" />
  <package id="failingdependency" />
  <package id="hasdependency" />
  <package id="hasfailingnesteddependency" />
  <package id="hasnesteddependency" />
  <package id="isdependency" />
  <package id="isexactversiondependency" />
</packages>
