<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <chocolatey>
    <useNuGetForSources>false</useNuGetForSources>
    <checksumFiles>true</checksumFiles>
    <virusCheck>false</virusCheck>
    <sources>
      <source id="chocolatey" value="https://chocolatey.org/api/v2/" />
    </sources>
  </chocolatey>
</configuration>