<?xml version="1.0" encoding='utf-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi' xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?define ProductName="Chocolatey (Install Only)"?>
  <?define ProductId="{671AC678-CDB7-49F1-A98A-B3F52D73BEAD}" ?>
  <?define ProductCode="{62FC4E65-47F0-488A-B841-ECA07E98A58B}" ?>
  <?define ProductVersion="$(var.VersionNumber)" ?>
  <?define ProductSummary="The Package Manager for Windows"?>
  <?define ProductVendor="Chocolatey Software, Inc."?>
  <?define ArtifactName="Chocolatey"?>
  <?define InstallerIco="assets\choco.ico"?>

  <Product Name="$(var.ProductName)" Id="*" UpgradeCode="$(var.ProductCode)" Language="1033" Manufacturer="$(var.ProductVendor)" Codepage="1252" Version="$(var.ProductVersion)">
    <Package Id='*' Platform='x86' Keywords='Installer' Description="$(var.ProductName)" Comments="$(var.ProductSummary)" InstallScope="perMachine" InstallerVersion="200" Compressed="yes" />
    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="!(loc.NewerVersionInstalled)" Disallow="yes" DisallowUpgradeErrorMessage="!(loc.UpgradeNotAllowed)" />
    <Media Id="1" Cabinet="$(var.ArtifactName).cab" EmbedCab="yes" />

    <!-- Installation Properties -->
    <Icon Id="chocolatey.ico" SourceFile="assets\choco.ico" />
    <Property Id="ARPPRODUCTICON" Value="chocolatey.ico" />

    <SetProperty Id="CHOCOLATEY_INSTALL" Value="$(env.ChocolateyInstall)" Before="LaunchConditions" Sequence="first"  />

    <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />      <!-- Remove repair from post-install options, as it will not work with the script method -->
    <Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />      <!-- Remove modify from post-install options, as it will not work with the script method -->

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED" />
    <Condition Message="!(loc.RequiresDotNet48)">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED]]>
    </Condition>

    <!-- Custom Actions to Install Chocolatey -->
    <SetProperty Id="InstallChocolatey"
      Before="InstallChocolatey"
      Sequence="execute"
      Value="&quot;[SystemFolder]\WindowsPowerShell\v1.0\powershell.exe&quot; -NoProfile -ExecutionPolicy Bypass -Command &quot;$env:ChocolateyInstall='[INSTALLDIR]'; &amp; '[#ChocolateyInstall]' -ChocolateyDownloadUrl '[#ChocolateyNupkg]' -UseNativeUnzip&quot;" />
    <CustomAction Id="InstallChocolatey" BinaryKey="WixCA" DllEntry="WixQuietExec" Execute="deferred" Return="check" Impersonate="yes" />

    <!-- Custom Additions to the InstallExecuteSequence (e.g. the actions above) -->
    <InstallExecuteSequence>
      <Custom Action="InstallChocolatey" After="InstallFiles"><![CDATA[NOT Installed]]></Custom>
    </InstallExecuteSequence>

    <!-- Installation Layout - primarily 'temporary' install files, unlike most MSI installers, as we run the standard install script -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="CommonAppDataFolder" Name="ProgramData">
        <Directory Id="INSTALLDIR" Name="chocolatey">
          <Component Id="ChocolateyInstallDirectory" Guid="{9E538CD6-6F07-43E5-B8E2-ED31995F3D1C}" Win64="no">
            <CreateFolder />
            <Environment Id="ChocolateyInstallEnvVar" Action="set" Name="ChocolateyInstall" Permanent="no" System="yes" Value="[INSTALLDIR]" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="TempFolder" Name="TempFolder">
        <Directory Id="InstallersDirectory" Name="chocolatey$(var.ProductVersion)">
          <Component Id="ChocolateyInstallers" Guid="{E5AD31D5-FEE3-4445-97F9-DAFEAA359CCD}" Win64="no">
            <File Id="ChocolateyNupkg" Name="chocolatey.$(var.ProductVersion).zip" Source="$(var.NUPKG)" KeyPath="yes" Checksum="yes" />
            <File Id="ChocolateyInstall" Name="Install-Chocolatey.ps1" Source="assets\Install.ps1" Checksum="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="TOOLSDIR" Name="Tools">
        <Component Id="ToolsFolder" Guid="{D8FFAB60-BD14-4DF3-81D2-1510FD1BB257}" Win64="no">
          <CreateFolder />
          <Environment Id="ChocolateyToolsLocationEnvVar" Action="create" Name="ChocolateyToolsLocation" Permanent="no" System="yes" Value="[TOOLSDIR]" />
        </Component>
      </Directory>
    </Directory>

    <!-- Feature Listing for Chocolatey -->
    <Feature Id="Complete" Title="Chocolatey" Description="$(var.ProductSummary)" Display="expand" Level="1" Absent="disallow" ConfigurableDirectory="INSTALLDIR">
      <Feature Id="Choco" Title="Choco.exe" Description="!(loc.ChocoExeDescription)" Absent="disallow" Display="hidden" Level="1">
        <ComponentRef Id="ChocolateyInstallDirectory" />
        <ComponentRef Id="ChocolateyInstallers" />
      </Feature>
      <Feature Id="Tools" Title="Tools Folder Location" Description="!(loc.ToolsFolderDescription)" Level="1" ConfigurableDirectory="TOOLSDIR">
        <ComponentRef Id="ToolsFolder" />
      </Feature>
    </Feature>

    <!-- UI Definition for this Installation -->
    <UIRef Id="WixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <WixVariable Id="WixUILicenseRtf" Value="assets\License.rtf" />       <!-- License File -->
    <WixVariable Id="WixUIBannerBmp" Value="assets\WixUIBannerBmp.bmp" /> <!-- 493x58 banner on all pages -->
    <WixVariable Id="WixUIDialogBmp" Value="assets\WixUIDialogBmp.bmp" /> <!-- 493x312 first page image -->
  </Product>
</Wix>